.get-started-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  }
  
  .google-sign-in {
    margin-bottom: 20px;
  }
  
  .register-button-container {
    display: flex;
    justify-content: center;
  }
    
  .register-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #218838;
  }
  